
<div class="row">
    <div class="col-lg-6 col-lg-offset-3 text-center">
        <h1>Диаграмма расходов</h1>
    </div>
</div>


<div class="row">
    <div class="col-lg-3">
        <!--Filter start date-->
        <div class="row">
            <div class="col-lg-5">
                <label class="control-label padding-top-22" for="startDate">Дата начала:</label>
            </div>
            <div class="col-lg-7">
                <md2-datepicker [(ngModel)]="dateFrom" format="dd.MM.y"></md2-datepicker>
            </div>
        </div>
        <!--filter end date-->
        <div class="row">
            <div class="col-lg-5">
                <label class="control-label padding-top-22" for="endDate">Дата конца:</label>
            </div>
            <div class="col-lg-7">
                <md2-datepicker class="width-170"
                                 [(ngModel)]="dateTo" format="dd.MM.y"></md2-datepicker>
            </div>
        </div>
        <!--filter chart type-->
        <div class="row">
            <div class="col-lg-5">
                <label class="control-label padding-top-22" for="chartType">Тип графика:</label>
            </div>
            <div class="col-lg-7">
                <md2-select class="width-175 padding-top-18 padding-left-10"
                            [(ngModel)]="selectedChartType" (change)="changeChartType($event)">
                    <md2-option *ngFor="let i of chartTypes" [value]="i.value" >{{i.name}}</md2-option>
                </md2-select>
            </div>
        </div>
        <br />

        <button type="button" class="btn btn-info"
                (click)="filterDiagram()">
            Показать
        </button>

    </div>
    <div class="col-lg-9">

        <div>
            <chart [options]="options" ></chart>
        </div>

    </div>
</div>





