<style>
    .home-title {
        font-family: "museo_sans_cyrl900","PT Sans",Helvetica,Arial,sans-serif;
        font-size: 60px;
        margin: 10px 0;
        line-height: 50px;
        text-transform: uppercase;
    }
    .home-block{
        text-align: center;
    }
</style>

<div class="home-block">
    <h1 class="home-title">Коммуналка</h1>
    <h1 class="home-title">Твой дом в твоих руках</h1>
</div>

