<style>
    body{
        background: #366369;
        color: #fff;
        font-family: Arial, sans-serif;
        font-size: 16px;
        font-weight: normal;
    }
    h1,h2,h3,span,label,text,p{
        font-family: Arial, sans-serif;
    }
    h3{
        font-size: 36px;
        line-height: .9;
        margin-bottom: 15px;
    }
    p {
        line-height: 1.5;
        font-weight: 800;
    }
    .container{
        box-sizing: border-box;
        max-width: 1400px;
        margin: auto;
        padding: 0 60px;
    }
    .home-title {
        font-family: Arial, sans-serif;
        font-size: 60px;
        margin: 10px 0;
        line-height: 50px;
        text-transform: uppercase;
    }
    .home-block{
        text-align: center;        
        margin-top: 60px;
    }
    .top-menu{
        display: block;
        height: 100px;
    }
    .top-menu .menu{
        list-style: none;
        font-family: Arial, sans-serif;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
    }
    .top-menu .menu-item{
        width: 20%;
        text-align: center;
        float: left;
    }
    .top-menu .menu-item .item-label {
        display: inline-block;
        padding: 45px 0 35px;
    }
    .top-menu .item{
        display: inline-block;
        color: #fff;
    }
    /*==============================================*/
    .home-list-description li{
        list-style: none;
        display: flex;
        margin-top: 70px;
        align-items: center;
    }
    .home-list-description li>div{
        width: 50%;
    }
    .home-list-description li>div>img{
        max-width: 100%;
        height: auto;
        border: 3px solid #ffd800; 
        border-radius: 5px; 
        box-shadow: rgba(0,242,246,.3) 0 0 10px; 
    }
    .home-list-description .right-screen-div{
        text-align: right;
        margin-right: 60px;
    }
    .home-list-description .left-screen-div{
        text-align: left;
        margin-left: 60px;
    }
</style>
<div class="container">

    <div class="top-menu">
        <ul class="menu">
            <li class="menu-item ">
                <a href="" class="item">
                    <span class="item-label">Hello</span>
                </a>
            </li>
            <li class="menu-item">
                <a href="" class="item">
                    <span class="item-label">Hi again</span>
                </a>
            </li>
            <li class="menu-item">
                <div class="item">
                    <img src="~/Content/logo.png" />
                </div>
            </li>
            <li class="menu-item">
                <a href="" class="item">
                    <span class="item-label">О сайте</span>
                </a>
            </li>
            <li class="menu-item">
                <a href="" class="item">
                    <span class="item-label">Войти</span>
                </a>
            </li>
        </ul>
    </div>

    <div class="home-block">
        <h1 class="home-title">Коммуналка</h1>
        <h1 class="home-title">Твой дом в твоих руках</h1>
        <p>Сайт позволяет вести статистику по коммунальным расходам, <br />отслеживать и анализировать динамику расходов по счётчикам</p>
    </div>

    <div class="home-list-description">
        <ul>
            <li >
                <div>
                    <img src="~/Content/HomePage/AppartDescr.jpg" height="306" width="623" />
                </div>
                <div class="left-screen-div">
                    <h3>Квартира</h3>
                    <p>Для начала работы вам необходимо создать/добавить свою квартиру для которой потом вы сможете вести учет показаний приборов</p>
                </div>
            </li>
            <li>
                <div  class="right-screen-div">
                    <h3>Счетчики</h3>
                    <p>Для начала работы вам необходимо создать/добавить свою квартиру для которой потом вы сможете вести учет показаний приборов</p>
                </div>
                <div>
                    <img src="~/Content/HomePage/CounterDescr.jpg" height="306" width="623" />
                </div>
            </li>
            <li>
                <div>
                    <img src="~/Content/HomePage/MaintDescr.jpg"  height="306" width="623" />
                </div>
                <div  class="left-screen-div">
                    <h3>Услуги</h3>
                    <p>Для начала работы вам необходимо создать/добавить свою квартиру для которой потом вы сможете вести учет показаний приборов</p>
                </div>
            </li>
            <li >
                <div class="right-screen-div">
                    <h3>Счета</h3>
                    <p>Для начала работы вам необходимо создать/добавить свою квартиру для которой потом вы сможете вести учет показаний приборов</p>
                </div>
                <div>
                    <img src="~/Content/HomePage/BillDescr.jpg" height="306" width="623" />
                </div>
            </li>
        </ul>
    </div>
</div>