
<div class="col-lg-6"  >
    <h1>Счетчики ({{authService.CurrentUser.Flat.Name}})</h1>

    <div class="panel panel-primary" [@staggerCounter]="myCounters.length">
        <div class="panel-heading">
            <h3 class="panel-title">Название и адрес</h3>
        </div>
        <div class="panel-body">
            <table class="table table-striped table-hover" >
                <tbody >
                    <tr *ngFor="let counter of myCounters" class="clickable-row col" 
                        [ngClass]="{'info': counter.Selected}" 
                        (click)="selectCounter(counter)">
                        <td class="size-10-pct">
                            <md-radio-button [checked]="counter.Selected" (click)="selectCounter(counter)"></md-radio-button>
                        </td>
                        <td class="size-10-pct">
                            <div>
                                <img width="30" height="30" [src]="counter.IconPath" />
                            </div>
                        </td>
                        <td>
                            {{counter.Name}}
                        </td>
                        <td class="size-10-pct">
                            <button type="button" class="btn btn-success btn-sm" 
                                    data-toggle="tooltip" title="Редактировать"
                                    (click)="editCounter(counter, $event)">
                                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                            </button>
                            <!--<a (click)="editCounter(counter, $event)">Редактировать</a>-->
                        </td>
                        <td class="size-10-pct">
                            <button type="button" class="btn btn-danger btn-sm" 
                                    data-toggle="tooltip" title="Удалить"
                                    (click)="deleteCounter(counter, $event)">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </button>
                            <!--<a (click)="deleteCounter(counter, $event)">Удалить</a>-->
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!--<div >
        <div class="col" *ngFor="let counter of myCounters2">
            <p>{{counter.Name}}</p>
        </div>
    </div>-->

    <a class="btn btn-primary"
       *ngIf="!showCounterPanel"
       (click)="goToNewCounter()">Новый счетчик</a>

    <new-counter *ngIf="showCounterPanel"
              (create)="createNewCounter($event)"
              (update)="updateCounter($event)"
              (close)="showCounterPanel = false"
              [counter]="currentCounter"></new-counter>

</div>


<div class="col-lg-6" *ngIf="currentCounter" >
    <h1>История - ({{currentCounter.Name}})</h1>

    <div class="panel panel-primary" [@staggerCounterHistory]="staggerCounterHistoryIndex">
        <div class="panel-heading">
            <h3 class="panel-title">Показания</h3>
        </div>
        <div class="panel-body">
            <table class="table table-striped table-hover ">
                <tbody>
                    <tr *ngFor="let countData of counterDatas">
                        <td>
                            <img width="30" height="30" [src]="countData.IconPath" />
                        </td>
                        <td>
                            <span class="counter-detail-summ">{{countData.ReadingDate | dateru:'MMMM YYYY' | capitalize }}</span>
                        </td>
                        <td>
                            <span class="counter-detail-summ">{{(countData.Reading).toFixed(2)}} (+{{(countData.Reading - (countData.LastCounterDataDTO ? countData.LastCounterDataDTO.Reading : 0)).toFixed(2)}})</span>
                        </td>
                        <td>
                            <span class="counter-detail-summ">{{counterDataService.getSumForCounter(countData, 1)}} руб</span>
                        </td>
                        <td class="size-10-pct">
                            <button type="button" class="btn btn-info btn-sm"
                                    data-toggle="tooltip" title="Перейти к счету"
                                    (click)="editBill(countData)">
                                <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>

