
<div class="col-lg-6">
    <h1>Счетчики ({{authService.CurrentUser.Flat.Name}})</h1>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Название и адрес</h3>
        </div>
        <div class="panel-body">
            <table class="table table-striped table-hover ">
                <tbody>
                    <tr *ngFor="let counter of myCounters" class="clickable-row" [ngClass]="{'info': counter.Selected}" (click)="selectCounter(counter)">
                        <td>
                            <md-radio-button [checked]="counter.Selected" (click)="selectCounter(counter)"></md-radio-button>
                        </td>
                        <td>
                            <div>
                                <img width="30" height="30" [src]="counter.IconPath" />
                                <!--IconPath
                                <img *ngIf="counter.CounterTypeId == 1" width="30" height="30" src="Content/CounterTypes/coldwater.png" />
                                <img *ngIf="counter.CounterTypeId == 2" width="30" height="30" src="Content/CounterTypes/hotwater.png" />
                                <img *ngIf="counter.CounterTypeId == 3" width="30" height="30" src="Content/CounterTypes/energy.png" />
                                <img *ngIf="counter.CounterTypeId == 4" width="30" height="30" src="Content/CounterTypes/gas.png" />
                                <img *ngIf="counter.CounterTypeId == 5" width="30" height="30" src="Content/CounterTypes/heat.png" />
                                <img *ngIf="counter.CounterTypeId == 6" width="30" height="30" src="Content/CounterTypes/moto.png" />-->
                            </div>
                        </td>
                        <td>
                            {{counter.Name}}
                        </td>
                        <td>
                            <a (click)="editCounter(counter, $event)">Редактировать</a>
                        </td>
                        <td>
                            <a (click)="deleteCounter(counter, $event)">Удалить</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


    <a class="btn btn-primary"
       *ngIf="!showCounterPanel"
       (click)="goToNewCounter()">Новый счетчик</a>

    <new-counter *ngIf="showCounterPanel"
              (create)="createNewCounter($event)"
              (update)="updateCounter($event)"
              (close)="showCounterPanel = false"
              [counter]="currentCounter"></new-counter>

</div>


<div class="col-lg-6" *ngIf="currentCounter">
    <h1>История - ({{currentCounter.Name}})</h1>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Показания</h3>
        </div>
        <div class="panel-body">
            <table class="table table-striped table-hover ">
                <tbody>
                    <tr *ngFor="let countData of counterDatas">
                        <td>
                            <img width="30" height="30" [src]="countData.IconPath" />
                        </td>
                        <td>
                            <span class="counter-detail-summ">{{countData.ReadingDate | dateru:'MMMM YYYY' | capitalize }}</span>
                        </td>
                        <td>
                            <span class="counter-detail-summ">{{(countData.Reading).toFixed(2)}} (+{{(countData.Reading - (countData.LastCounterDataDTO ? countData.LastCounterDataDTO.Reading : 0)).toFixed(2)}})</span>
                        </td>
                        <td>
                            <span class="counter-detail-summ">{{counterDataService.getSumForCounter(countData, 1)}} руб</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>

