
<div class="col-lg-6 col-lg-offset-3">
    <h1>Счетчики ({{authService.CurrentUser.Flat.Name}})</h1>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Название и адрес</h3>
        </div>
        <div class="panel-body">
            <table class="table table-striped table-hover ">
                <tbody>
                    <tr *ngFor="let counter of myCounters">
                        <td>
                            <div>
                                <i class="material-icons" *ngIf="counter.CounterTypeId == 1">brightness_medium</i>
                                <i class="material-icons" *ngIf="counter.CounterTypeId == 2">whatshot</i>
                                <i class="material-icons" *ngIf="counter.CounterTypeId == 3">battery_charging_full</i>
                                <i class="material-icons" *ngIf="counter.CounterTypeId == 4">local_gas_station</i>
                                <i class="material-icons" *ngIf="counter.CounterTypeId == 5">power</i>
                                <i class="material-icons" *ngIf="counter.CounterTypeId == 6">drive_eta</i>
                            </div>
                        </td>
                        <td>
                            {{counter.Name}}
                        </td>
                        <td>
                            <a (click)="editCounter(counter)">Редактировать</a>
                        </td>
                        <td>
                            <a (click)="deleteCounter(counter)">Удалить</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


    <a class="btn btn-primary"
       *ngIf="!showCounterPanel"
       (click)="goToNewCounter()">Новый счетчик</a>

    <new-counter *ngIf="showCounterPanel"
              (create)="createNewCounter($event)"
              (update)="updateCounter($event)"
              (close)="showCounterPanel = false"
              [counter]="currentCounter"></new-counter>

</div>