

<div class="modal-dialog">
    <div class="modal-content">
        <form (ngSubmit)="apply();" #editCounterDataForm="ngForm">
            <div class="modal-header">
                <button type="button" class="close" (click)="close()">&times;</button>
                <h4 class="modal-title">Ввод показаний счетчика</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <!--CounterData - Reading-->
                    <div class="col-lg-3  col-lg-offset-1">
                        <div class="form-group">
                            <label class="control-label" for="readingData">Показания</label>
                            <input class="form-control" name="readingData" type="text"
                                   required pattern="^(?:[1-9]\d*|0)?(?:\.\d+)?$"
                                   [(ngModel)]="counterData.Reading" #readingData="ngModel">
                            <div *ngIf="readingData.errors && (readingData.dirty || readingData.touched)" class="text-danger">
                                <div [hidden]="!readingData.errors.required">
                                    Введите показания счетчика
                                </div>
                                <div [hidden]="!readingData.errors.pattern">
                                    Не верный формат
                                </div>
                                <div [hidden]="readingDataBefore <= readingData">
                                    Показания не могут быть меньше предыдущих
                                </div>
                            </div>
                        </div>
                    </div>
                   
                    <!--CounterData - Invoice Day-->
                    <div class="col-lg-7">
                        <label class="control-label" for="invoiceDataDay">Дата внесения</label>
                        <ul class="nav nav-pills">
                            <li class="size-28-pct">
                                <select class="form-control" name="invoiceDataDay" [(ngModel)]="counterData.ReadingDateDay" type="text" required>
                                    <option *ngFor="let day of allDays" [value]="day">{{day}}</option>
                                </select>
                            </li>
                            <li  class="size-40-pct">
                                <select class="form-control" name="invoiceDataMonth" [(ngModel)]="counterData.ReadingDateMonth" type="text" required>
                                    <option *ngFor="let month of allMonthes" [value]="month.Id">{{month.Name}}</option>
                                </select>
                            </li>
                            <li  class="size-30-pct">
                                <select class="form-control" name="invoiceDataYear" [(ngModel)]="counterData.ReadingDateYear" type="text" required>
                                    <option *ngFor="let year of allYears" [value]="year">{{year}}</option>
                                </select>
                            </li>
                        </ul>
                    </div>


                </div>


                <div class="row">
                    <!--CounterData - Reading ODN -->
                    <div class="col-lg-3 col-lg-offset-1">
                        <div class="form-group" *ngIf="counterData.EnableODN">
                            <label class="control-label" for="readingODN">ОДН</label>
                            <input class="form-control" name="readingODN" type="text"
                                   required pattern="^(?:[1-9]\d*|0)?(?:\.\d+)?$"
                                   [(ngModel)]="counterData.ReadingODN" #readingDataODN="ngModel">
                            <div *ngIf="readingDataODN.errors && (readingDataODN.dirty || readingDataODN.touched)" class="text-danger">
                                <div [hidden]="!readingDataODN.errors.required">
                                    Введите ОДН
                                </div>
                                <div [hidden]="!readingDataODN.errors.pattern">
                                    Не верный формат
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--CounterData - Tariff -->
                    <div class="col-lg-7">
                        <div class="form-group">
                            <label class="control-label" for="currentTarif">Тариф</label>

                            <div class="input-group">
                                <input class="form-control" name="currentTarif" type="text"
                                       disabled="disabled"
                                       value="{{counterDataBefore.Tarif1}}{{counterDataBefore.Tarif2 || counterDataBefore.Tarif2 != 0 ? ' / ' + counterDataBefore.Tarif2 : ''}}{{counterDataBefore.Tarif3 || counterDataBefore.Tarif3 != 0 ? ' / ' + counterDataBefore.Tarif3 : ''}} руб">
                                <span class="input-group-btn">
                                    <button class="btn btn-warning" type="button"
                                            (click)="goToEditTarifCounter()" >Редактировать</button>
                                </span>
                            </div>

                        </div>
                    </div>

                </div>
                <!--================== Редактирование тарифа (счетчика) ========================-->
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1">
                        <new-counter *ngIf="showCounterPanel"
                                     (update)="updateCounter($event)"
                                     (close)="showCounterPanel = false"
                                     [counter]="currentCounter"></new-counter>
                    </div>                    
                </div>



                <!--==================Предыдущие показания========================-->
                <div *ngIf="counterDataBefore.LastCounterDataDTO">
                    <div class="row">
                        <div class="col-lg-5 col-lg-offset-3 padding-left-40">
                            <label class="control-label" for="invoiceDataDay">Предыдущие показания</label>
                        </div>
                    </div>
                    <!--Дата-->
                    <div class="row">
                        <div class="col-lg-2 col-lg-offset-3"><span>Дата:</span></div>
                        <div class="col-lg-3 "><span class="pull-right">{{counterDataBefore.LastReadingDate | dateru }}</span></div>   <!--| date:'d MMM y'-->
                        <div class="col-lg-3"></div>
                    </div>

                    <!--Показания-->
                    <div class="row">
                        <div class="col-lg-2 col-lg-offset-3"><span>Показания:</span></div>
                        <div class="col-lg-3"><span class="pull-right">{{counterDataBefore.LastReading}}</span></div>
                        <div class="col-lg-3"></div>
                    </div>

                    <!--Тариф-->
                    <div class="row">
                        <div class="col-lg-2 col-lg-offset-3"><span>Тариф:</span></div>
                        <div class="col-lg-3"><span class="pull-right">{{counterDataBefore.LastCounterDataDTO.Tarif1}}{{counterDataBefore.LastCounterDataDTO.Tarif2 || counterDataBefore.LastCounterDataDTO.Tarif2 != 0 ? ' / ' + counterDataBefore.LastCounterDataDTO.Tarif2 : ''}}{{counterDataBefore.LastCounterDataDTO.Tarif3 || counterDataBefore.LastCounterDataDTO.Tarif3 != 0 ? ' / ' + counterDataBefore.LastCounterDataDTO.Tarif3 : ''}} руб</span></div>
                        <div class="col-lg-3"></div>
                    </div>

                    <!--Сумма-->
                    <div class="row">
                        <div class="col-lg-2 col-lg-offset-3"><span>Сумма:</span></div>
                        <div class="col-lg-3"><span class="pull-right">{{counterDataService.getSumForCounter(counterDataBefore.LastCounterDataDTO, 1)}} руб</span></div>
                        <div class="col-lg-3"></div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="apply()"
                        [disabled]="editCounterDataForm.form.invalid || readingDataBefore <= readingData">
                    OK
                </button>
                <button type="button" class="btn btn-default" (click)="cancel()">Cancel</button>
            </div>
        </form>
    </div>
</div>