

<div class="modal-dialog">
    <div class="modal-content">
        <form (ngSubmit)="apply();" #editCounterDataForm="ngForm">
            <div class="modal-header">
                <button type="button" class="close" (click)="close()">&times;</button>
                <h4 class="modal-title">Ввод показаний счетчика</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <!--CounterData - Reading-->
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label class="control-label" for="readingData">Показания</label>
                            <input class="form-control" name="readingData" type="text"
                                   required pattern="^(?:[1-9]\d*|0)?(?:\.\d+)?$"
                                   [(ngModel)]="counterData.reading" #readingData="ngModel">
                            <div *ngIf="readingData.errors && (readingData.dirty || readingData.touched)" class="text-danger">
                                <div [hidden]="!readingData.errors.required">
                                    Введите показания счетчика
                                </div>
                                <div [hidden]="!readingData.errors.pattern">
                                    Не верный формат
                                </div>
                                <div [hidden]="readingDataBefore <= readingData">
                                    Показания не могут быть меньше предыдущих
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group" *ngIf="counterData.enableODN">
                            <label class="control-label" for="readingODN">ОДН</label>
                            <input class="form-control" name="readingODN" type="text"
                                   required pattern="^(?:[1-9]\d*|0)?(?:\.\d+)?$"
                                   [(ngModel)]="counterData.readingODN" #readingDataODN="ngModel">
                            <div *ngIf="readingDataODN.errors && (readingDataODN.dirty || readingDataODN.touched)" class="text-danger">
                                <div [hidden]="!readingDataODN.errors.required">
                                    Введите ОДН
                                </div>
                                <div [hidden]="!readingDataODN.errors.pattern">
                                    Не верный формат
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--CounterData - Invoice Day-->
                    <div class="col-lg-7">
                        <label class="control-label" for="invoiceDataDay">Дата внесения</label>
                        <ul class="nav nav-pills">
                            <li>
                                <select class="form-control" name="invoiceDataDay" [(ngModel)]="counterData.dateDay" type="text" required>
                                    <option *ngFor="let day of allDays" [value]="day">{{day}}</option>
                                </select>
                            </li>
                            <li>
                                <select class="form-control" name="invoiceDataMonth" [(ngModel)]="counterData.dateMonth" type="text" required>
                                    <option *ngFor="let month of allMonthes" [value]="month.Id">{{month.Name}}</option>
                                </select>
                            </li>
                            <li>
                                <select class="form-control" name="invoiceDataYear" [(ngModel)]="counterData.dateYear" type="text" required>
                                    <option *ngFor="let year of allYears" [value]="year">{{year}}</option>
                                </select>
                            </li>
                        </ul>
                    </div>
                  
                </div>

                <div class="row">
                    <span>Предыдущие показания</span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="apply()" 
                        [disabled]="editCounterDataForm.form.invalid || readingDataBefore <= readingData">OK</button>
                <button type="button" class="btn btn-default" (click)="cancel()">Cancel</button>
            </div>
        </form>
    </div>
</div>