
<div class="panel panel-primary">
    <div class="panel-heading">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="closeWindow()">&times;</button>
        <h3 class="panel-title">Создание нового счетчика</h3>

    </div>
    <div class="panel-body">

        <form (ngSubmit)="saveCounter(); ngNewCounterForm.reset()" #ngNewCounterForm="ngForm">

            <div class="col-lg-6">
                <div class="form-group">
                    <label class="control-label" for="newCounterName">Укажите название счетчика</label>
                    <input class="form-control" name="newCounterName" type="text" [(ngModel)]="counter.Name" required>
               </div>

                <div class="form-group" *ngIf="counterTypes.length > 0">
                    <label class="control-label" for="counterTypeId">Укажите тип счетчика</label>
                    <select  class="form-control" name="counterTypeId" required [(ngModel)]="counter.CounterTypeId">
                        <option *ngFor="let counterType of counterTypes" [value]="counterType.Id">{{counterType.Name}}</option>
                    </select>
                </div>

                <div class="form-group" *ngIf="counter.CounterTypeId == 5">
                    <label class="control-label" for="coeficient">Коэффициент перевода единицы измерения</label>
                    <input class="form-control" name="coeficient" type="text" [(ngModel)]="counter.UnitConvertCoefficient" pattern="^(?:[1-9]\d*|0)?(?:\.\d+)?$" required>
                </div>

                <div class="form-group">
                    <md-slide-toggle class="example-margin" name="odn"
                                     [color]="primary"
                                     [(ngModel)]="counter.EnableODN">
                        Общедомовые нужды (ОДН)
                    </md-slide-toggle>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="form-group" *ngIf="tarifTypes.length > 0">
                    <label class="control-label" for="tyriffType">Тип тарифа</label>

                    <select  class="form-control" name="tyriffType" required  [(ngModel)]="counter.TarifCount">
                        <option *ngFor="let tarType of tarifTypes" [value]="tarType.Id">{{tarType.Name}}</option>
                    </select>
                </div>

                <div class="form-group" *ngIf="counter.TarifCount >= 1">
                    <label class="control-label" for="tarif1">Тариф</label>
                    <input class="form-control" name="tarif1" type="text" [(ngModel)]="counter.Tarif1" pattern="^(?:[1-9]\d*|0)?(?:\.\d+)?$" required>
                </div>
                <div class="form-group" *ngIf="counter.TarifCount >= 2">
                    <label class="control-label" for="Limit1">Порог 1</label>
                    <input class="form-control" name="Limit1" type="text" [(ngModel)]="counter.Limit1" pattern="^(?:[1-9]\d*|0)?(?:\.\d+)?$" required>
                </div>
                <div class="form-group" *ngIf="counter.TarifCount >= 2">
                    <label class="control-label" for="tarif2">Тариф от порога 1 до порога 2</label>
                    <input class="form-control" name="tarif3" type="text" [(ngModel)]="counter.Tarif2" pattern="^(?:[1-9]\d*|0)?(?:\.\d+)?$" required>
                </div>
                <div class="form-group" *ngIf="counter.TarifCount == 3">
                    <label class="control-label" for="Limit2">Порог 2</label>
                    <input class="form-control" name="Limit2" type="text" [(ngModel)]="counter.Limit2" pattern="^(?:[1-9]\d*|0)?(?:\.\d+)?$" required>
                </div>
                <div class="form-group" *ngIf="counter.TarifCount == 3">
                    <label class="control-label" for="tarif3">Тариф свыше порога 2</label>
                    <input class="form-control" name="tarif3" type="text" [(ngModel)]="counter.Tarif3" pattern="^(?:[1-9]\d*|0)?(?:\.\d+)?$" required>
                </div>
                

                <button type="submit" class="btn btn-primary pull-right" *ngIf="!counter.Id"
                        [disabled]="ngNewCounterForm.form.invalid">
                    Добавить счетчик
                </button>
                <button type="submit" class="btn btn-primary pull-right" *ngIf="counter.Id"
                        [disabled]="ngNewCounterForm.form.invalid">
                    Сохранить счетчик
                </button>
            </div>

        </form>

    </div>
</div>


