
<div class="col-lg-6">
    <h1>Услуги ({{authService.CurrentUser.Flat.Name}})</h1>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Название и тариф</h3>
        </div>
        <div class="panel-body">
            <table class="table table-striped table-hover ">
                <tbody>
                    <tr *ngFor="let maintenance of myMaintenances" 
                        [@itemAnim] class="clickable-row" 
                        [ngClass]="{'info': maintenance.Selected}" 
                        (click)="selectMaintenance(maintenance)">
                        <td class="size-10-pct">
                            <md-radio-button [checked]="maintenance.Selected" (click)="selectMaintenance(maintenance)"></md-radio-button>
                        </td>
                        <td class="size-10-pct">
                            <div>
                                <img *ngIf="maintenance.MaintenanceTypeId == 1" width="30" height="30"  src="Content/ServiceTypes/fix.png" />
                                <img *ngIf="maintenance.MaintenanceTypeId == 2" width="30" height="30"  src="Content/ServiceTypes/multi.png" />
                                <img *ngIf="maintenance.MaintenanceTypeId == 3" width="30" height="30"  src="Content/ServiceTypes/waters.png" />
                                <img *ngIf="maintenance.MaintenanceTypeId == 4" width="30" height="30"  src="Content/ServiceTypes/cooler.png" />
                            </div>
                        </td>
                        <td>
                            {{maintenance.Name}}
                        </td>
                        <td>
                            {{maintenance.Tarif}}
                        </td>
                        <td class="size-10-pct">
                            <button type="button" class="btn btn-success btn-sm"
                                    data-toggle="tooltip" title="Редактировать"
                                    (click)="editMaintenance(maintenance, $event)">
                                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                            </button>
                            <!--<a (click)="editMaintenance(maintenance, $event)">Редактировать</a>-->
                        </td>
                        <td class="size-10-pct">
                            <button type="button" class="btn btn-danger btn-sm"
                                    data-toggle="tooltip" title="Удалить"
                                    (click)="deleteMaintenance(maintenance, $event)">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </button>
                            <!--<a (click)="deleteMaintenance(maintenance, $event)">Удалить</a>-->
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


    <a class="btn btn-primary"
       (click)="goToNewMaintenance()">Новая услуга</a>

</div>

<div class="col-lg-6" *ngIf="currentMaintenance">
    <h1>История - ({{currentMaintenance.Name}})</h1>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Показания</h3>
        </div>
        <div class="panel-body">
            <table class="table table-striped table-hover ">
                <tbody>
                    <tr *ngFor="let maintData of maintenanceDatas">
                        <td>
                            <img width="30" height="30" [src]="maintData.IconPath" />
                        </td>
                        <td>
                            <span class="counter-detail-summ">{{maintData.InvoiceDate | dateru:'MMMM YYYY' | capitalize }}</span>
                        </td>
                        <td>
                            <span class="counter-detail-summ">{{(maintData.Tarif * maintData.Coefficient).toFixed(2)}} руб</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
