
<div class="panel panel-primary">
    <div class="panel-heading">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="closeWindow()">&times;</button>
        <h3 class="panel-title">Создание нового счета</h3>

    </div>
    <div class="panel-body">

        <div class="col-lg-9">
            <div class="row">
                <!--For counters Datas-->
                <div class="col-lg-6">
                    <label class="control-label" for="maintenanceData">Показания по счетчикам</label>
                    <div class="list-group">

                        <template ngFor let-countData [ngForOf]="counterDatas">
                            <a class="list-group-item" (click)="editCounterData(countData)">
                                <div class="row">
                                    <div class="col-lg-2">
                                        <img width="50" height="50" [src]="countData.IconPath" />
                                    </div>
                                    <div class="col-lg-7 bill-detail-box">
                                        <span class="counter-detail-name">{{countData.CounterName}}</span>
                                        <br />
                                        <span class="counter-detail-summ">{{countData.Reading ? (countData.Reading).toFixed(2) : (countData.LastCounterDataDTO ? countData.LastCounterDataDTO.Reading : 0).toFixed(2)}} (+{{countData.Reading ? (countData.Reading - (countData.LastCounterDataDTO ? countData.LastCounterDataDTO.Reading : 0)).toFixed(2) : 0}})</span>
                                        <br />
                                        <span class="counter-detail-summ">{{counterDataService.getSumForCounter(countData, 1)}} руб</span>
                                    </div>
                                    <div class="col-lg-3 bill-detail-box" *ngIf="countData.EnableODN">
                                        <span class="counter-detail-name pull-right">ОДН</span>
                                        <br />
                                        <span class="counter-detail-summ pull-right">{{countData.ReadingODN}}</span>
                                        <br />
                                        <span class="counter-detail-summ pull-right">{{counterDataService.getSumForCounter(countData, 2)}} руб</span>
                                    </div>
                                </div>
                            </a>
                        </template>

                    </div>
                </div>

                <!--For maintenance Datas-->
                <div class="col-lg-6">
                    <label class="control-label" for="maintenanceData">Показания по услугам</label>
                    <div class="list-group">

                        <template ngFor let-maintData [ngForOf]="maintenanceDatas">
                            <a class="list-group-item" (click)="editMaintenanceData(maintData)">
                                <div class="row">
                                    <div class="col-lg-2">
                                        <img width="50" height="50" [src]="maintData.IconPath" />
                                    </div>
                                    <div class="col-lg-7 bill-detail-box">
                                        <span class="counter-detail-name">{{maintData.MaintenanceName}}</span>
                                    </div>
                                    <div class="col-lg-3 bill-detail-box">
                                        <span class="counter-detail-name pull-right">{{maintData.Tarif * maintData.Coefficient}} руб</span>
                                    </div>
                                </div>
                            </a>
                        </template>

                    </div>
                </div>
            </div>

        </div>

        <!--column for bill values-->
        <div class="col-lg-3" *ngIf="currentBill">

            <div class="form-group">
                <label class="control-label" for="date">Дата</label>
                <ul class="nav nav-pills" *ngIf="allBills || currentBill.Id">
                    <li>
                        <select class="form-control" name="month"
                                [(ngModel)]="currentBill.InvoiceDateMonth"
                                [disabled]="currentBill.Id"
                                (ngModelChange)="getBillDetails($event)" type="text" required>
                            <option *ngFor="let month of getExistingMonths()" [value]="month.Id">{{month.Name}}</option>
                        </select>
                    </li>
                    <li>
                        <select class="form-control" name="yearForBill"
                                [(ngModel)]="currentBill.InvoiceDateYear"
                                [disabled]="currentBill.Id"
                                (ngModelChange)="getBillDetails($event)" type="text" required>
                            <option *ngFor="let year of allYears" [value]="year">{{year}}</option>
                        </select>
                    </li>
                </ul>
            </div>
            <div class="form-group" *ngIf="counterDatas.length > 0 && currentBill">
                <label class="control-label" for="commonSum">Начислено</label>
                <input class="form-control" name="commonSum" type="text" [(ngModel)]="currentBill.Summ" readonly="readonly">
            </div>

            <div class="form-group">
                <label class="control-label" for="recalculation">Перерасчет</label>
                <input class="form-control" name="recalculation" type="text" [(ngModel)]="currentBill.Recalculation" pattern="^(?:[1-9]\d*|0)?(?:\.\d+)?$">
            </div>

            <div class="form-group">
                <label class="control-label" for="fine">Пени</label>
                <input class="form-control" name="fine" type="text" [(ngModel)]="currentBill.Fine" pattern="^(?:[1-9]\d*|0)?(?:\.\d+)?$">
            </div>

            <div class="form-group">
                <label class="control-label" for="forPay">К оплате</label>
                <input class="form-control" name="forPay" type="text" readonly="readonly"
                       [value]="getForPayment()" />
            </div>

            <div class="form-group">
                <label class="control-label" for="comment">Комментарий</label>
                <input class="form-control" name="comment" type="text" [(ngModel)]="currentBill.Comment">
            </div>
        </div>

        <!--Save button-->
        <div class="row">
            <div class="col-lg-2 col-lg-offset-5">
                <a class="btn btn-success" (click)="saveBill()">Сохранить</a>
            </div>
        </div>

    </div>
</div>


