<nav class="navbar navbar-dark navbar-margin-bottom">
    <div class="container-fluid">
        <!--https://material.io/icons/-->

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav">
                <li>
                    <button md-menu-item routerLink="/home" class="home-logo-link">
                        <img src="../../../Content/logo.png" width="50" height="50" />
                    </button>
                </li>
                <li>
                    <button md-menu-item routerLink="/myflats" *ngIf="authService.CurrentUser">
                        <span>Мои Квартиры</span>
                    </button>
                    <!--<a routerLink="/myflats" *ngIf="authService.CurrentUser">Мои Квартиры</a>-->
                </li>
                <li>
                    <button md-menu-item routerLink="/counters" *ngIf="authService.CurrentUser && authService.CurrentUser.Flat">
                        <span>Счетчики</span>
                    </button>
                </li>
                <li>
                    <button md-menu-item routerLink="/maintenance" *ngIf="authService.CurrentUser && authService.CurrentUser.Flat">
                        <span>Услуги</span>
                    </button>
                </li>
                <li>
                    <button md-menu-item routerLink="/bills" *ngIf="authService.CurrentUser && authService.CurrentUser.Flat">
                        <span>Счета</span>
                    </button>
                </li>
                <li  *ngIf="authService.CurrentUser && authService.CurrentUser.Flat">
                    <button md-menu-item [mdMenuTriggerFor]="menu">
                        <span>Графики</span>
                    </button>
                    <!--<a md-button [mdMenuTriggerFor]="menu">Графики</a>-->
                    <!--<button md-button [mdMenuTriggerFor]="menu"><a>Графики</a></button>-->
                    <md-menu #menu="mdMenu">
                        <button md-menu-item routerLink="/diagram-expense">
                            <md-icon>donut_small</md-icon>
                            <span>Диаграмма расходов</span>
                        </button>
                        <button md-menu-item>
                            <md-icon> graphic_eq </md-icon>
                            <span>График расходов</span>
                        </button>
                        <button md-menu-item>
                            <md-icon> account_balance </md-icon>
                            <span>График потребления</span>
                        </button>
                        <button md-menu-item>
                            <md-icon> filter_list </md-icon>
                            <span>График тарифов</span>
                        </button>
                        <button md-menu-item>
                            <md-icon> receipt </md-icon>
                            <span>График счетов</span>
                        </button>
                    </md-menu>
                </li>
                <li>
                    <button md-menu-item routerLink="/help">
                        <span>Справка</span>
                    </button>
                </li>
                <li>
                    <button md-menu-item routerLink="/about">
                        <span>O сайте</span>
                    </button>
                </li>
            </ul>
            <!--<form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>-->
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <button md-menu-item routerLink="/login" *ngIf="!authService.CurrentUser">
                        <span>Вход</span>
                    </button>
                </li>
                <li>
                    <button md-menu-item (click)="logout()" *ngIf="authService.CurrentUser">
                        <span>Выход</span>
                    </button>
                </li>
            </ul>
        </div>
    </div>
</nav>
