<div class="col-md-6 col-md-offset-3">
    <h2>Регистрация</h2>
    <form name="form" (ngSubmit)="f.form.valid && model.PasswordRepeat == model.Password && !emailExist && register()" #f="ngForm" novalidate> 

        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !firstName.valid }">
            <label for="firstName">Имя пользователя</label>
            <input type="text" class="form-control" name="firstName" 
                   [(ngModel)]="model.FirstName" #firstName="ngModel" 
                   required />
            <!--<div *ngIf="f.submitted && !firstName.valid" class="help-block">Укажите имя</div>-->
            <div *ngIf="firstName.errors && (firstName.dirty || firstName.touched)" class="text-danger">
                <div [hidden]="!firstName.errors.required">
                    Укажите имя
                </div>
            </div>
        </div>

        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !lastName.valid }">
            <label for="lastName">Фамилия пользователя</label>
            <input type="text" class="form-control" name="lastName" 
                   [(ngModel)]="model.LastName" #lastName="ngModel" 
                   required />
            <!--<div *ngIf="f.submitted && !lastName.valid" class="help-block">Укажите фамилию</div>-->
            <div *ngIf="lastName.errors && (lastName.dirty || lastName.touched)" class="text-danger">
                <div [hidden]="!lastName.errors.required">
                    Укажите фамилию
                </div>
            </div>
        </div>

        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
            <label for="email">Email</label>
            <input type="text" class="form-control" name="email" 
                   [(ngModel)]="model.Email" #email="ngModel" 
                   required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" 
                   (focusout)="checkEmail()"
                   [ngClass]="{ 'repeat-password-error' : emailExist }"/>
            <!--<div *ngIf="f.submitted && !email.valid" class="help-block">Укажите Email</div>-->
            <div *ngIf="email.errors && (email.dirty || email.touched)" class="text-danger">
                <div [hidden]="!email.errors.required">
                    Укажите Email
                </div>
                <div [hidden]="!email.errors.pattern">
                    Email не валидный
                </div>
            </div>
            <div *ngIf="emailExist" class="text-danger">
                <div [hidden]="!emailExist">
                    Email уже используется
                </div>
            </div>
        </div>

        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
            <label for="password">Пароль</label>
            <input type="password" class="form-control" name="password" 
                   [(ngModel)]="model.Password" #password="ngModel" required
                   minlength="5" maxlength="20" 
                   pattern="^(?=.*[A-Z])(?=.*[0-9])(?=.*[a-z]).{5,20}$"/>
            <div *ngIf="password.errors && (password.dirty || password.touched)" class="text-danger">
                <div [hidden]="!password.errors.required">
                    Ввведите пароль
                </div>
                <div [hidden]="!password.errors.pattern">
                    Пароль должен быть
                    <ul>
                        <li>от 5 до 20 символов</li>
                        <li>минимум одна латинская заглавная буква</li>
                        <li>минимум одна латинская маленькая буква</li>
                        <li>минимум одна цифра</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && model.PasswordRepeat != model.Password }">
            <label for="passwordRepeat">Повторите пароль</label>
            <input type="password" class="form-control" name="passwordRepeat" [(ngModel)]="model.PasswordRepeat" #passwordRepeat="ngModel" required
                   [ngClass]="{ 'repeat-password-error' : passwordRepeat.dirty && model.PasswordRepeat != model.Password }" />
            <div *ngIf="(passwordRepeat.dirty || passwordRepeat.touched) && 
                        ((passwordRepeat.errors && passwordRepeat.errors.required) || model.PasswordRepeat != model.Password)" class="text-danger">
                <div [hidden]="model.PasswordRepeat">
                    Повторите пароль
                </div>
                <div [hidden]="model.PasswordRepeat == model.Password">
                    Пароли не совпадают
                </div>
            </div>
        </div>

        <div class="form-group">
            <button [disabled]="loading" class="btn btn-primary">Зарегистрироваться</button>
            <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            <a [routerLink]="['/login']" class="btn btn-link">Выйти</a>
        </div>

    </form>
</div>
