
<div class="col-lg-6 col-lg-offset-3" >
    <h1> О сайте </h1>

    <h2> Коммуналка </h2>
    <p class="text-info">версия: 4.4.3.9</p>
    <p [@myFirstAnimation]='state' (click)="animateMe()">
        Программа позволяет вести статистику по коммунальным расходам, отслеживать и анализировать динамику расходов по счетчикам.
    </p>
    <p [@itemAnim]>
        Если у Вас есть идеи по улучшению сайта - пожалуйста, оставляйте их в отзывах вконтакте. Мы обещаем их рассмотреть и реализовать наиболее интересные и полезные!
    </p>


    <div [@queryAnimation]="exp" (click)="goAnimate()">
        <h1>Title</h1>
        <div class="content">
            Blah blah blah
        </div>
    </div>

    <button (click)="goAnimate()"> Animate </button>
    
    <table class="table">
        <tr>
            <td>
                <p class="text-muted">Разработчики:</p>
            </td>
            <td>
                <a href="https://vk.com/housingutilities" target="_blank">Хмеленко Константин</a>
                <br />
                <a href="https://vk.com/housingutilities" target="_blank">Харченко Алексей</a>
            </td>
        </tr>
        <tr>
            <td>
                <p class="text-muted">Группа ВКонтакте:</p>
            </td>
            <td>
                <a href="https://vk.com/housingutilities" target="_blank">vk.com/housingutilities</a>
            </td>
        </tr>
    </table> 

</div>




<div class="col-lg-6 col-lg-offset-3">
    <chart [options]="options" ></chart>
</div>
