
<div class="col-lg-6 col-lg-offset-3">
    <h1> О сайте </h1>

    <h2> Коммуналка </h2>
    <p class="text-info">версия: 4.4.3.9</p>
    <p>
        Программа позволяет вести статистику по коммунальным расходам, отслеживать и анализировать динамику расходов по счетчикам.
    </p>
    <p>
        Если у Вас есть идеи по улучшению сайта - пожалуйста, оставляйте их в отзывах вконтакте. Мы обещаем их рассмотреть и реализовать наиболее интересные и полезные!
    </p>

    
    <table class="table">
        <tr>
            <td>
                <p class="text-muted">Разработчики:</p>
            </td>
            <td>
                <a href="https://vk.com/housingutilities" target="_blank">Хмеленко Константин</a>
                <br />
                <a href="https://vk.com/housingutilities" target="_blank">Харченко Алексей</a>
            </td>
        </tr>
        <tr>
            <td>
                <p class="text-muted">Группа ВКонтакте:</p>
            </td>
            <td>
                <a href="https://vk.com/housingutilities" target="_blank">vk.com/housingutilities</a>
            </td>
        </tr>
    </table> 

    <!--<md-input-container>
        <input mdInput placeholder="Favorite food" value="Sushi" required>
    </md-input-container>

    <md-select placeholder="Favorite food" >
        <md-option [value]="1">Холодная вода</md-option>
        <md-option [value]="2">Горячая вода</md-option>
        <md-option [value]="3">Электричество</md-option>
        <md-option [value]="4">Газ</md-option>
        <md-option [value]="5">Отопление</md-option>
        <md-option [value]="6">Моторесурс</md-option>
    </md-select>-->
</div>