
<div class="col-lg-6 col-lg-offset-3">
    <h1>Квартиры</h1>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Название и адрес</h3>
        </div>
        <div class="panel-body">
            <table class="table table-striped table-hover ">
                <tbody>
                    <tr *ngFor="let flat of myFlats" class="clickable-row" [ngClass]="{'info': flat.Selected}" (click)="selectFlat(flat)">
                        <td class="size-10-pct">
                            <md-radio-button [checked]="flat.Selected" (click)="selectFlat(flat)"></md-radio-button>
                        </td>
                        <td>{{flat.Name}}</td>
                        <td>{{flat.Address}}</td>
                        <td class="size-10-pct">
                            <button type="button" class="btn btn-success btn-sm"
                                    data-toggle="tooltip" title="Редактировать"
                                    (click)="editFlat(flat, $event)">
                                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                            </button>
                            <!--<a (click)="editFlat(flat, $event)">Редактировать</a>-->
                        </td>
                        <td class="size-10-pct">
                            <button type="button" class="btn btn-danger btn-sm"
                                    data-toggle="tooltip" title="Удалить"
                                    (click)="deleteFlat(flat, $event)">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </button>
                            <!--<a (click)="deleteFlat(flat, $event)">Удалить</a>-->
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


    <a class="btn btn-primary" 
       *ngIf="!showFlatPanel"
       (click)="goToNewFlat()">Новая квартира</a>

    <new-flat *ngIf="showFlatPanel" 
              (create)="createNewFlat($event)" 
              (update)="updateFlat($event)"
              (close)="showFlatPanel = false"
              [flat]="currentFlat"></new-flat>

</div>



